/*-------------------------
	Simple reset
--------------------------*/
* {
	margin: 0;
	padding: 0;
}

/*-------------------------
	General Styles
  --------------------------*/
html {
	background-color: #fefefe;
	/*#edf0f4; */
}

body {
	/*font: 15px "Arial", sans-serif;/*15px "Arial Narrow", sans-serif; */
	color: #4f4f4f; */
	padding-bottom: 40px;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
}

a,a:visited {
	outline: none;
	color: #389dc1;
}

a:hover {
	text-decoration: none;
}

a.headerx,a.headerx:visited {
	outline: none;
	font-size: 14px;
	color: #389dc1;
	text-decoration: none;
	letter-spacing: 0.03em;
}

a.headerx:hover {
	text-decoration: none;
}

section,footer,header,aside {
	display: block;
}

table {
	border-collapse: collapse;
}

.table1000 {
	
}

td {
	border: 0px solid #999;
}

td.line {
	font-size: 18px;
	padding: 3px 10px;
}

td.bpad {
    padding-top: 9px;
	  padding-bottom: 1px;
	  /* border-bottom: 1px solid #ccc;*/
}

td.n {
	border: none;
}

td.f {
	padding: 2px 3px 10px 3px;
}

td.s {
	margin: 5px;
}
input {
	background-color: #ffffff;
border: 1px solid #cccccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
		
}
input,button,select,textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.integer, input.string, input.datepicker,
input[type=text].f,input[type=submit].f,input[type=password].f {
	border: 1px solid #999;
	padding: 3px 8px;
	font-size: 15px;
}
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}
/*td {
  border: 1px solid black;
}
*/
td.center {
	text-align: center;
}

td.centerbold {
	text-align: center;
	font-weight: bold;
}

td.centertop {
	text-align: center;
	vertical-align: top;
}

td.centertopbold {
	text-align: center;
	vertical-align: top;
	font-weight: bold;
}

td.right {
	text-align: right;
}

td.rightpad {
  text-align: right;
  padding: 5px 6px;
}
td.title {
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	padding-left: 5px;
}

td.title2 {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	padding-left: 5px;
}

div.bigtitlei {
	text-align: left;
	padding-left: 10px;
	font-size: 17px;
	font-style: italic;
}
th.min100,
td.min100 {
	min-width: 130px;
	padding: 3px 10px;
}
td.tests {
	text-align: right;
	padding-right: 5px;
}

td.panel {
	text-align: left;
	padding-left: 15px;
}

td.percent {
	text-align: right;
	font-weight: bold;
}

td.comments {
	text-align: left;
	padding-left: 5px;
}

img.x16
{
	 height:16px;
	 width:16px
}
textarea {
	font-family: Arial, sans-serif;
	font-size: 15px;
	border : 1px solid #999;
	padding: 3px 5px;
	
}
textarea.nc {
	border: 1px solid blue;
}
textarea.ta50px {
	width: 100%;
	height: 50px;
	border: 0;
}

textarea.big {
	width: 100%;
	height: 400px;
	border: 0;
}

textarea.small {
	width: 100%;
	height: 200px;
	border: 0;
}

#cancelbutton,#savebutton,#continuebutton {
	background-color: #ffffee;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px 10px;
}

#xsavebutton {
	margin-left: 537px;
}

select {
	font-size: 17px; /*.93em;*/
	line-height: 19px;
}

#header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
	padding-top: 6px;
}

li.limed,li.ui-menu-item {
	font-family: sans-serif;
	font-size: 16px;
}

input[type=text].ro {
	text-align: right;
	background-color: #fefefe;
	color: #0099ff;
	border: none;
	font-weight: bold;
	font-size: 14px;
	width: 30px;
}
.brand {
    width: 200px;
}
ul.buttons {
    display: inline-block;
    *display: inline;
    list-style: none;
}
ul.buttons li {
    display: inline-block;
}
div.maintitle {
    font-family: "Times New Roman", serif;
    width: 600px;
    margin-top:16px;
    font-size: 38px;
    line-height:45px;
    font-weight:bold;
}
div.maintitle2 {
    font-family: "Times New Roman", serif;
    width: 700px;
    margin-top:16px;
    font-size: 32px;
    line-height:37px;
}
div.banner_rev {
    background-color: #000;
    margin-top:16px;
    padding: 5px 0 5px 8px;
    font-size: 18px;
    font-weight:bold;
    color: white;
}
div.normal {
    padding: 4px 45px;
    font-size: 1.2em;
    line-height: 1.33em; 
}
table.table800 {
    width: 800px;
    border-collapse: collapse;
}
td.center {
    border: 1px solid black;
    text-alignment: center;
}
b.plus {
    font-size: 1.15em;
}