/*-------------------------
	Simple reset
--------------------------*/


* {
	  margin:0;
	  padding:0;
}


/*-------------------------
	General Styles
  --------------------------*/


html{
	  background-color:#edf0f4;
}

body{
	  font:15px Arial, sans-serif;
	  color: #4f4f4f;
}

a, a:visited {
	  outline:none;
	  color:#389dc1;
}

a:hover{
	  text-decoration:none;
}

section, footer, header, aside{
	  display: block;
}

table {
    border-collapse: collapse;
}

.table1000 {

}

td {
    border: 1px solid #666;
}

/*td {
  border: 1px solid black;
}
*/
td.center {
  text-align: center;
}
td.centerbold {
  text-align: center;
  font-weight: bold;
}
td.centertop {
  text-align: center;
  vertical-align: top;
}
td.centertopbold {
  text-align: center;
  vertical-align: top;
  font-weight: bold;
}
td.right {
   text-align:right;
}
td.title {
  text-align:left;
  vertical-align:top;
  font-weight:bold;
  padding-left:5px;
}
td.title2 {
  text-align:left;
  vertical-align:top;
  font-weight:normal;
  padding-left:5px;
}
td.tests {
  text-align:right;
  padding-right:5px;
}
td.panel {
  text-align:left;
  padding-left:15px;
}
td.percent {
  text-align:right;
  font-weight:bold;
}
td.comments {
  text-align:left;
  padding-left:5px;
}
td.percent {
  text-align:right;
  font-weight:bold;
}
td.panel {
  text-align:left;
  padding-left:15px;
}
textarea.ta50px {
  width:100%; 
  height:50px;
  border:0;
}

#cancelbutton,
#savebutton,
#continuebutton {
    background-color: #ffffee;
    font-size: 18px;
    margin-top: 15px;
    margin-left:5px;
    margin-right: 5px;
    padding: 5px 10px;
}

#savebutton {
    margin-left:537px;
}

.select {
    font-size: .93em;
}