/*-------------------------
	Simple reset
--------------------------*/
* {
	margin: 0;
	padding: 0;
}

/*-------------------------
	General Styles
  --------------------------*/
html {
	background-color: #fefefe;
	/*#edf0f4; */
}

body {
	font: 15px "Arial", sans-serif;/*15px "Arial Narrow", sans-serif; */
	color: #4f4f4f;
}

a,a:visited {
	outline: none;
	color: #389dc1;
}

a:hover {
	text-decoration: none;
}

a.header,a.header:visited {
	outline: none;
	font-size: 14px;
	color: #389dc1;
	text-decoration: none;
	letter-spacing: 0.03em;
}

a.header:hover {
	text-decoration: none;
}

section,footer,header,aside {
	display: block;
}

table {
	border-collapse: collapse;
}

.table1000 {
	
}

td {
	border: 0px solid #999;
}

td.line {
  font-size: 18px;	
padding: 3px 10px;
}
td.bpad {
	padding-bottom: 10px;
}

td.n {
	border: none;
}

td.f {
	padding: 2px 3px 10px 3px;
}

td.s {
	margin: 5px;
}

input[type=submit].f {
	padding: 2px 3px 2px 3px;
}

input.integer, input.string, input.date,
input[type=text].f,input[type=submit].f,input[type=password].f {
	border: 1px solid #999;
	padding: 2px 4px;
	font-size: 15px;
}
/*td {
  border: 1px solid black;
}
*/
td.center {
	text-align: center;
}

td.centerbold {
	text-align: center;
	font-weight: bold;
}

td.centertop {
	text-align: center;
	vertical-align: top;
}

td.centertopbold {
	text-align: center;
	vertical-align: top;
	font-weight: bold;
}

td.right {
	text-align: right;
}

td.rightpad {
  text-align: right;
  padding: 5px 6px;
}
td.title {
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	padding-left: 5px;
}

td.title2 {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	padding-left: 5px;
}

div.bigtitlei {
	text-align: left;
	padding-left: 10px;
	font-size: 17px;
	font-style: italic;
}
th.min100,
td.min100 {
	min-width: 130px;
	padding: 3px 10px;
}
td.tests {
	text-align: right;
	padding-right: 5px;
}

td.panel {
	text-align: left;
	padding-left: 15px;
}

td.percent {
	text-align: right;
	font-weight: bold;
}

td.comments {
	text-align: left;
	padding-left: 5px;
}

img.x16
{
	 height:16px;
	 width:16px
}
textarea {
	font-family: Arial, sans-serif;
	font-size: 15px;
	border : 1px solid #999;
	padding: 3px 5px;
	
}
textarea.nc {
	border: 1px solid blue;
}
textarea.ta50px {
	width: 100%;
	height: 50px;
	border: 0;
}

textarea.big {
	width: 100%;
	height: 400px;
	border: 0;
}

textarea.small {
	width: 100%;
	height: 200px;
	border: 0;
}

#cancelbutton,#savebutton,#continuebutton {
	background-color: #ffffee;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px 10px;
}

#xsavebutton {
	margin-left: 537px;
}

.select {
	font-size: .93em;
}

#header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
	padding-top: 6px;
}

li.limed,li.ui-menu-item {
	font-family: sans-serif;
	font-size: 16px;
}

input[type=text].ro {
	text-align: right;
	background-color: #fefefe;
	color: #0099ff;
	border: none;
	font-weight: bold;
	font-size: 14px;
	width: 20px;
}