/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background-color:#edf0f4;
}

body{
	font:15px/1.3 Arial, sans-serif;
	color: #4f4f4f;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #666;
}