/*@CHARSET "UTF-8"; */
@font-face {
    font-family: 'arialnarrow';
    src: url('../arialn.ttd') format('truetype')
    ,url('../arialn.eot'); /* IE9+ */
}

* {
	padding: 0 0;
	margin: 0 0;
}

body {
	font-family: "arialnarrow",arial, verdana, sans-serif;
	font-size: 13.5px;
	/*line-height: 29px;*/
	font-weight: normal;
	margin: 5px 5px;
}

body.outer {
	width: 167mm !important;
}

table {
	border-collapse: collapse;
}

/* .table1000 {
	width: 168mm; / *1000px;* /
} */

table.table800 {
    width: 149mm !important; /*800px;*/
}
table.tablestars {
    width: 143mm !important; /*800px;*/
}
table.display {
	width: 100%; /*168mm !important; /*1050px;*/
	border: 1px;
	table-layout: fixed;
}

table.criteria {
	width: 925px;
	border: 1px;
}
/*    table.table1120 {
        width:1120px;
        border:1px;
    } */
td {
	border: 1px solid #333; 
}

td.normal {
	padding: 5mm 8mm 5mm 16mm;

}
td.center,td.c {
	text-align: center;
}

td.centerbold,td.cb {
	text-align: center;
	font-weight: bold;
}

td.b {
	font-weight: bold;
}

td.centertop,td.ct {
	text-align: center;
	vertical-align: top;
}

td.centertopbold,td.ctb {
	text-align: center;
	vertical-align: top;
	font-weight: bold;
}

td.pl5 {
	padding-left: 5px;
}

td.i {
	font-style: italic;
}

td.title {
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	padding-left: 5px;
}

td.normaltitle {
	text-align: left;
	padding-left: 5px;
	font-size: 1.0625em; /*17px; */
}

td.bigtitle {
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
	font-size: 1.1875em; /*19px;*/
	color: white;
	background-color: black;
}

td.subtitle {
	text-align: left;
	padding-left: 5px;
}

td.subtitlec {
	text-align: center;
	padding-left: 10px;
	background-color: LightGray;
}

td.bigtitlei,span.bigtitlei {
	text-align: left;
	padding-left: 10px;
	font-size: 1.125em; /*18px;*/
	font-style: italic;
}

td.tests {
	text-align: right;
	padding-right: 5px;
}
td.tbw { /* top border white */
	border-top-color: white;
}
td.panel {
	text-align: left;
	padding-left: 15px;
}

td.percent {
	text-align: right;
	font-weight: bold;
}

td.comments {
	text-align: left;
	padding-left: 5px;
}

td.nbb {
	border-bottom-style: none;
	border-bottom-width: 0px;
	text-align: center;
}

td.bnb {
	border-style: none;
	font-weight: bold;
}

td.bunb {
	border-style: none;
	font-weight: bold;
	text-decoration: underline;
}

/* td.banner_rev {
	background-color: black;
	color: white;
	font-size: 1.125em;
  font-weigth:bold; 

} */
span.ub {
	text-decoration: underline;
	font-weight: bold;
}
.fs17 {
	  font-size: 1.0625em; /*e17px;*/
}

.p5 {
	padding: 5px;
}

.p10 {
	padding: 10px;
}

.lg {
	background-color: #dfdfdf;
}
.nsp {
	padding: 10px 0;
}
.cb {
	text-align: center;
	font-weight: bold;
}
.c {
	text-align: center;
}
.dg {
	background-color: #B0B0B0;
}

.nb {
	border: none;
}

.fullwide {
	width: 167mm !important; 
}
.dhead {
	padding: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.ihead {
	padding: 2px;
	text-align: center;
	vertical-align: top;
	font-style: italic;
}

.data {
	padding: 2px;
}
.tick {
	font-size:0.9em; 
	text-align:center;
	font-weight:bold;
	padding-top:2px;
	padding-bottom:2px;
}
.cbx {
	height: 16px;
	width: 11px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	text-align: center;
}
.pagebreak {
	page-break-after:always
}

.banner_rev {
    background-color: #000;
    color: white;
    width: 100%;
    font-size: 1.125em; /*18px;*/
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 0 0 4mm; /*5px 0 5px 10px ;*/
}
div.normal {
    padding: 4px 10px;
    font-size: 1.2em;
    line-height: 1.33em; 
    width: 160mm;
}
div.bigtitlei {
	text-align: left;
	padding-left: 5px;
	font-size: 1.0625em;
	font-style: italic;
	min-heignt: 200px;
}
td.topbold {
   padding:3px 4px;
	 vertical-align: top;
	 font-weight: bold;
   font-size: 1.1em;
}
div.big_banner_rev {
    background-color: #000;
    color: white;
    font-size: 1.125em; /*18px;*/
    font-weight: bold;
/*    margin-top: 16px;
    margin-bottom: 16px; */
    padding: 0 0 0 4mm ; /*5px 5px 5px 10px ;*/
}
div.en { /* Element Normal */
	font-style: italic;
	font-weight: bold;
	font-size: 0.75em;
	margin-top: 5px;
}
div.is { /* Info Small */
	font-style: italic;
	font-weight: bold;
	font-size: 0.65em;
	margin-top: 5px;
}
div.normal_border {
/*    font-size: 1.2em;
    line-height: 1.33em;  */
    padding: 4px 10px;
    border: 2px solid #333;
}
td.data {
	padding: 2px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

td.star {
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

td.bthead {
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

td.red {
	background-color: #f66;
}

td.yellow {
	background-color: #ff6;
}

td.green {
	background-color: #6f6;
}
/* criteria y n */
td.cyn {
	padding: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
}

td.comment {
	padding: 4px;
	vertical-align: top;
}

span.tiny {
	font-size: 0.75em; /*12px;*/
	font-weight: normal;
}

textarea.ta50px {
	width: 100%;
	height: 50px;
	border: 0;
}

textarea.small {
	width: 100%;
	height: 200px;
	border: 0;
}

textarea.big {
	width: 100%;
	height: 400px;
	border: 0;
}

textarea.signature {
	width: 100%;
	height: 75px;
	border: 0;
}

div.maintitle {
	font-family: "Times New Roman", serif;
	width: 125mm;
	margin-top: 16px;
	font-size: 1.8em; /*38px;*/
	line-height: 1.2em;
	font-weight: bold;
}

div.maintitle2 {
	font-family: "Times New Roman", serif;
	width: 135mm;
	margin-top: 16px;
	font-size: 1.5em; /*32px;*/
	line-height: 37px;
}
ul {
	margin: 0 0 9px 25px;
}