# rewite rules for Zend Framework - for Apache Web Server
RewriteEngine on
#RewriteCond $(REQUEST_FILENAME) !-f #1
#RewriteRule .* index.php            #2
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC, L]
RewriteRule ^.*$ /index.php [NC, L]